body{
    margin-top:30px;
    background-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(238, 231, 231, 0.767)
}
h1{
    color: rgb(16, 16, 134);
    background-color: beige;
}
form{
    background-color: azure;
    border-color: black;
    text-align: center;
    max-width: 350px; 
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 15px black;
}
#textBox{
    background-color:cadetblue ;
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px black;
    border-radius: 10px;
}
input{
    border:2px rgb(206, 182, 182)
}
label{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
button{
    margin-top: 15px;
    padding: 10px;
    color: aliceblue;
    font-size: 1.5em;
    background-color: cadetblue;
    border-radius: 5px;
}
#resultSubmit{
    font-size: 1.75em;
    font-weight: bold;
}