.myButton{
    margin: 10px;
    padding: 10px;
    font-size: 3rem;
    border-radius: 10px;
    background-color: lightblue;
    color:blanchedalmond;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20px;
  
}
