body{
    margin: 50px 50px;
    display: flex;
    justify-content: center;
}


#myBox{
    border-radius: 100px;
    padding: 50px;
    background-color: lightgreen;
    width: 500px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}